{% extends "::base.html.twig" %}
{% form_theme form 'pingdecopongFormFreezeBundle:Form:form_layout.html.twig' %}

{% block title %}ユーザ情報　一覧4{% endblock %}

{% block body %}
    <h1>ユーザ一覧4</h1>
    <form action="{{ path('systemuser_list4') }}" method="get" {{ form_enctype(form) }} novalidate name="systemuser_list4">

        {{ form_widget(form) }}


        <table>
            <thead>
            <tr>
                {% for header in column.Rows %}
                    <th>
                        {# ソートさせるかチェック #}
                        {% if header.Enable %}

                            {# ソート選択時の表示方法切り替え #}
                            {% if header.sortSelected %}
                                {% if header.SortType == 'asc' %}
                                    <a href="#" onclick="changeSortType('{{ header.keyName }}', 'desc')">
                                        {{ header.label }}↓
                                    </a>
                                {% elseif header.SortType == 'desc' %}
                                    <a href="#" onclick="changeSortType('{{ header.keyName }}', 'asc')">
                                        {{ header.label }}↑
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="#" onclick="changeSortType('{{ header.keyName }}', 'asc')">
                                    {{ header.label }}
                                </a>
                            {% endif %}
                        {% else %}
                            {{ header.label }}
                        {% endif %}
                    </th>
                {% endfor %}

            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>


{#
        <div>
            {% for page in pager.pager_list.Rows %}
                {% if page.select %}
                    {{ page.label }}
                {% else %}
                    <a href="#" onclick="pagenoClick({{ page.pageNo }})">{{ page.label }}</a>
                {% endif %}
            {% endfor %}
        </div>
        <div>
            {{ form_widget(pager.pager_size.FormView) }}
        </div>
#}
    </form>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        //<![CDATA[

        {#
        function pagenoClick(pageno){
            document.systemuser_list2.{{ form.pageNo.vars.id }}.value = pageno;
            document.systemuser_list2.submit();
        }
         function changePageSize(){
             var selectedNo = document.systemuser_list2.{{ pager.pager_size.FormView.vars.id }}.selectedIndex;
             document.systemuser_list2.{{ form.pageSize.vars.id }}.value = document.systemuser_list2.{{ pager.pager_size.FormView.vars.id }}.options[selectedNo].value;
             document.systemuser_list2.submit();
         }
         #}
        function changeSortType(sortName, sortType){
            document.systemuser_list4.{{ form.sortName.vars.id }}.value = sortName;
            document.systemuser_list4.{{ form.sortType.vars.id }}.value = sortType;
            document.systemuser_list4.submit();
        }
        function postBack(){
            document.systemuser_list4.submit();
        }
        //]]>
    </script>
{% endblock %}
