{% extends "::base.html.twig" %}

{% block title %}ユーザ情報　一覧5{% endblock %}

{% block body %}
    <h1>ユーザ一覧5</h1>

    <table>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'ID', 'u.id') }}</th>
            <th{% if pagination.isSorted('u.DisplayName') %} class="sorted" {% endif %}>{{ knp_pagination_sortable(pagination, '名前', 'u.DisplayName') }}</th>
            <th{% if pagination.isSorted('u.tbcompany.name') %} class="sorted" {% endif %}>{{ knp_pagination_sortable(pagination, '会社名', 'u.TBCompany.Name') }}</th>
        </tr>

        {% for user in pagination %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.displayName }}</td>
                {% if user.TBCompany %}
                    <td>{{ user.TBCompany.Name }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>



{% endblock %}


{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript">
        //<![CDATA[

        //]]>
    </script>
{% endblock %}
